.app-title {
    color: gold;
    background: brown;
    text-align: center;
}

#root {
    padding: 20px;
}

.input {
    display: flex;
    justify-content: center;
}

.div-btn {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.btn {
    margin: 10px;
}

.forecast-ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card-div {
    margin: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-border {
    background-color: darkgrey;
    padding: 20px;
    margin: 30px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 150px;
}

.card-div img {
    height: 50px;
    width: 50px;
}

.city-name {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

.error {
    text-align: center;
}

.preloader {
    padding: 20px;
    display: flex;
    justify-content: center;
}
